* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", arial;
}

a,
input,
button {
    font-family: 'Montserrat', arial;
}

html {}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);

}


.hero {
    background-color: #E1FF8F;
    background-image: url(img/bigstar.png), url(img/tranbig.png), url(img/greensmall.png), url(img/greenbig.png), url(img/transmall.png);
    background-repeat: no-repeat;
    background-position: top 0px right 0px,
        right 344px top 568px,
        right 456px top 538px,
        left 64px top 95px,
        left 156px top 70px;
    height: 800px;


    &__title {
        font-weight: 700;
        font-size: 64px;
        padding-bottom: 24px;
        padding-top: 196px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        padding-bottom: 48px;
    }

    &__buttom {
        display: block;
        background-color: #202027;
        color: white;
        font-size: 24px;
        font-weight: 600;
        border-radius: 60px;
        padding: 16px 65px 16px 65px;
        border: none;
        text-decoration: none;
        width: 247px;
    }

    &__buttom:hover {
        border: 1px solid #202027;
        background-color: transparent;
        color: #202027;
        transition: all 0.7s;
    }

}

.content {
    background-color: #202027;
    background-image: url(img/Star1Con.png), url(img/Star2Con.png), url(img/Star3Con.png), url(img/Star4Con.png), url(img/Star5Con.png), url(img/Star6Con.png), url(img/Star7Con.png);
    background-repeat: no-repeat;
    background-position: top 77px right 0px,
    left 25px top 770px,
    left 40px top 822px,
    right 124px top 1563px,
    right 45px top 1596px,
    right 65px top 4836px,
    right 150px top 4884px;
}

.cart {
    &__title {
        color: white;
        font-size: 64px;
        width: 700;
        padding-top: 94px;
    }

    &__text {
        color: white;
        font-size: 24px;
        padding-top: 24px;
        max-width: 750px;
        padding-bottom: 72px;
    }

    &__list-box {
        display: flex;
        flex-wrap: wrap;
        -moz-column-gap: 32px;
        row-gap: 32px;
        column-gap: 32px;
    }

    &__list {
        background-color: white;
        width: 378px;
        height: 473px;
        border-radius: 30px;
        transition: transform 0.3s;
        display: block;
        text-decoration: none;
    }

    &__list:hover {
        transform: scale(1.1);
    }

    &__list_big {
        height: 512px;
    }

    &__list_higher {
        transform: translateY(-38px);
    }

    &__name {
        padding: 32px;
    }

    &__name-number {
        font-size: 16px;
        font-weight: 500;
        color: #202027;
    }

    &__name-game {
        font-size: 32px;
        font-weight: 700;
        padding-top: 16px;
        color: #202027;
    }
}

.game {

    &__title {
        color: white;
        font-size: 64px;
        width: 700;
        padding-top: 94px;
    }

    &__cart-box {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 72px;
        padding-bottom: 144px;
    }

    &__cart {
        display: flex;
        background-color: white;
        border-radius: 45px;
        justify-content: space-between;
        height: 500px;
    }

    &__cart_left {
        display: flex;
        flex-direction: row-reverse;
    }

    &__content {
        padding: 48px;
    }

    &__content-name {
        font-size: 48px;
        font-weight: 700;
    }

    &__content-text {
        font-size: 24px;
        font-weight: 400;
        max-width: 435px;
        padding-top: 24px;
        padding-bottom: 36px;
    }

    &__content-buttom {
        display: block;
        background-color: #202027;
        color: white;
        font-size: 24px;
        font-weight: 600;
        border-radius: 60px;
        padding: 16px 75px 16px 75px;
        border: none;
    }

    &__content-buttom:hover {
        border: 1px solid #202027;
        background-color: transparent;
        color: #202027;
        transition: all 0.7s;
    }
}

.footer {
    height: 150px;
    background-color: #BDED35;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: 24px;
        font-weight: 600;
    }
}